<div>
    <h1> Edit Task </h1>
    <hr>

    <% if flash[:errors] %>
        <h2> List of Error(s): </h2> 
        <% flash[:errors].each do |error| %>
            <div id='box'><%= error %></div>
        <% end %>
        <hr>
    <% end %>

    <%= form_for @task do |f| %>

        <%= f.label :name %>:<br>
        <%= f.text_field :name %><br><br>

        <%= f.label :status %>:<br>
        <%= f.text_field :status %><br><br>

        <%= f.label :description %>:<br>
        <%= f.text_area :description %><br><br>

        <%= f.submit %>

    <% end %>

    <%= button_to 'Back', task_path(@task), method: :get %>
    
</div>