<div>

    <h1> <%= @user.full_name %> </h1>
    <h5> <%= @user.email %> </h5>

    <h3> List of Projects </h3>
    <ul>
        <% @user.projects.map do |project| %>
            <li>
                <h4> Name: <%=link_to project.name, project_path(project) %> </h4>
                <p> Descrption: <%= project.description %> </p>
            </li>
        <% end %>
    </ul>

    <br><%= button_to 'New Project', new_project_path, method: :get %>

</div>